<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-fill me-2"></i>Home</a>
        </li>

        <li class="nav-item rounded">
         <%= link_to projects_path, class: "nav-link" do %>
            <i class="bi bi-clipboard2-plus-fill"></i> Home Projects
          <% end %>
          
        </li>
        <li class="nav-item dropdown rounded">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Projects</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Account</a></li>
            <li><%= link_to edit_project_path(@project), class: "dropdown-item" do %>  
                Edit Projects
              <% end %></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><%= button_to @project, method: :delete, class: "dropdown-item" do %> 
              Delete Project 
            <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />


<h1 align="center"><%= @project.name %></h1><br />

<div class="qw">
  <div class="card1">
    <h1 >Attachment</h1>
    <div class="container">
      <h4><%= link_to "Attachers", project_attachers_path(@project), class: 'a_task_att' %></h4> <br />
    </div>
  </div>

  <div class="card2">
    <h1>Task</h1>
      <div class="container">
      <h4><%= link_to "Tasks", new_project_task_path(@project), class: 'a_task_att' %></h4> 
      </div>
  </div>
</div>





<style>
.nav-item{
  background-color: white
}
.navbar-nav .nav-item:hover {
  background-color: white;
}

.card1 {
  position: absolute;
  right: 50%;
    text-align: center;
    width: 27%;
    # border: 1px solid black;
    height:  200px; 
    border-radius: 10px;   
    color: black;
    background-color: aqua;
    box-shadow: 5px 10px  black;
}
.card2 {
  position: absolute;
  right: 20%;
    /* justify-self: center; */
    text-align: center;
    width: 27%;
    height:  200px; 
    border-radius: 10px;    
    # color: #ef959a;
    # background-color: #212529;
    color: black;
    background-color: aqua;
    box-shadow: 5px 10px  black;
}

</style>